.completed {
    text-decoration:line-through;
    color: lightslategray;
}

table {
    width: 100%;

    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);

    tr{
        border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;
    }

    td{
        text-align: right;
        padding: 1px 3px;
        width: 5%;
    }

    td.label {
        text-align: left;
        padding: 1px 3px;
        width: 90%;
    }
}

.large {
    width: 50%;
    margin-right: 5px;
}